@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;  
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #F3A109;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1314D7;
}


.layout {
  font-family: Poppins;
}

/* ######################################## */
/* header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.website-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 30px;
}

header span {
  color: #F3A109;
}

header .buttons {
  display: flex;
  gap: 10px;
}

header .links {
  display: flex;
  gap: 40px;
  font-weight: 300;
}

header a {
  color: black;
  cursor: pointer;
}

header .a {
  color: black;
  cursor: pointer;
}

header .a:hover {
  color: black;
  cursor: pointer;
}

header a:hover {
  color: #1314D7;
  font-weight: 600;
}

header a:active {
  color: #1314D7;
  font-weight: 600;
}

header .login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: #1314D7 solid;
  background-color: #1314D7;
  cursor: pointer;
  transition: transform 0.3s ease;
}

header .register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: black;
  border-radius: 5px;
  border: #1314D7 solid;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* ######################################## */
/* hero section  */

.hero {
  background: linear-gradient(to bottom, #E3E3FD, #E2DAD8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  position: relative;
  margin: 0;
}

.hero h3 {
  width: 400px;
  font-size: 30px;
}

.hero .p {
  color: #2C2B2B;
  width: 500px;
}

.hero span {
  color: #F3A109;
}

.heroinfo {
  display: flex;
  flex-direction: column;
}

.hero .search {
  position: relative;
  width: 450px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero input {
  border: none;
  margin-left: 10px;
  outline: none;
  width: 350px;
}

.hero .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #1314D7;
  border: #1314D7 solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.heropicture {
  width: 400px;
  height: 400px;
}

.login-button:hover {
  transform: scale(1.2);
}

.register-button:hover {
  transform: scale(1.2);
}

/* ######################################## */
/* services section */

.services-section {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 100%;
}
.services-section h3{
  font-size: 25px;
}
.services-section span {
  color: #F3A109;
}

.services-section .p {
  width: 700px;
  font-weight: 500;
}

.services-section .services-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.service-card {
  position: relative;
  background-color: #1314D7;
  border-radius: 10px;
  width: 230px;
  height: 200px;
  padding: 5px 0 0 0;
}

.service-card .content {
  position: relative;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 1px 5px;
  box-shadow: #e5e5e5;
  padding: 10px;
}

.service-card .content .icon {
  font-size: 20px;
}

.service-card .content h4 {
  font-weight: bold;
}

.service-card .content .desc {
  color: #969696;
  font-size: 12px;
  width: 100%;
}

/* ######################################## */
/* books section */

.popular-books {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 50px 50px;

}
.popular-books h3{
  font-size: 25px;
}

.popular-books span {
  color: #F3A109;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(to bottom, #134BD7, #ffffff);
  border-radius: 20px;
  box-shadow: 0 1px 5px;
  box-shadow: #e5e5e5;
  width: 270px;
  height: auto;
  transition: transform 0.3s ease ;
}
.book-card:hover{
  transform: scale(1.1);
}

.book-card .book-cover {
  position: relative;
  width: 100%;
  height: 300px;
}

.book-card .book-img {
  width: 100%;
  height: 100%;
}
.books-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.book-card h4{
  font-weight: 500;
}
.book-card .book-desc{
  color: #3E3D3D;
}
.book-card .buy-book{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-card hr{
  width: 100%;
  background-color: #000;
  color: #000;
}
.buy-book button{
  width: 110px;
  height: 30px;
  border-radius: 30px;
  border: #000 solid;
  background-color: transparent;
}

/* ######################################## */
/* footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 10;
  padding: 20px 50px;
  background: linear-gradient(to bottom, #E3E3FD, #E2DAD8);
  margin: 0;
}

footer span {
  color: #F3A109;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* gap: 180px; */
}

footer h3 {
  font-weight: 500;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
  color: #504F4F;
  display: grid;
  gap: 10px;
}

.footer-element {
  display: grid;
}

footer hr {
  width: 100%;
  background-color: black;
  color: #000;
}

footer p {
  text-align: center;
}