@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
}

.layout {
  font-family: Poppins;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
header span {
  color: #F3A109;
}
header .buttons {
  display: flex;
  gap: 10px;
}

header .links {
  display: flex;
  gap: 40px;
  font-weight: 300;
}

header a {
  color: black;
  cursor: pointer;
}
header a:hover{
  color: #1314D7;
  font-weight: 600;
}

header .login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: #1314D7 solid;
  background-color: #1314D7;
  cursor: pointer;
  transition: transform 0.3s ease;
}

header .register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: black;
  border-radius: 5px;
  border: #1314D7 solid;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.login-button:hover {
  transform: scale(1.2);
}

.register-button:hover {
  transform: scale(1.2);
}

.button {
  /* border-radius: 15px; */
  border-style: solid;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10;
  padding: 20px 50px;
  background: linear-gradient(to bottom, #E3E3FD, #E2DAD8);
  margin: 0;

}

footer span {
  color: #F3A109;
}

.footer-content {
  display: flex;
  gap: 180px;
}

footer h3 {
  font-weight: 500;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
  color: #504F4F;
  display: grid;
  gap: 10px;
}

.footer-element {
  display: grid;
}

footer hr {
  width: 100%;
  background-color: black;
  color: #000;
}

footer p {
  text-align: center;
}