[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
startCommand = "./start.sh"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on-failure"
restartPolicyMaxRetries = 10
